config/
locales/
sections/
snippets/
templates/
*.chunk.css
*.min.css
vendor.js
*.min.js
*.chunk.js
*.test.js
lazysizes.js
theme.js
*.json
global.js
fancybox.js
swiper.min.js
swiper.css
fancybox.css
*.chunk.css
*.min.css
